<app-navbar></app-navbar>
<div class="container-fluid contenedor-analitica">
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <label for="fecha_inicio">Fecha Inicio:</label>
        <input [(ngModel)]="fechaInicio" type="date" class="form-control"
               id="fecha_inicio" (change)="loadchartdata();fechaFin=fechaInicio" [max]="hoy"/>
      </div>
      <div class="form-group">
        <label for="fecha_final">Fecha Final:</label>
        <input [(ngModel)]="fechaFin" type="date" class="form-control"
               id="fecha_final" (change)="loadchartdata()" [min]="fechaInicio" [max]="hoy"/>
      </div>
      <div class="form-group">
        <label for="tipo_incidente">Tipo Incidente:</label>
        <select [(ngModel)]="tipoIncidente" class="form-control" id="tipo_incidente" (change)="loadchartdata()">
          <option value="">Todos</option>
          <option value="PETICION">Petición</option>
          <option value="QUEJA">Queja</option>
          <option value="RECLAMO">Reclamo</option>
          <option value="SUGERENCIA">Sugerencia</option>
        </select>
      </div>
      <div class="form-grupo">
        <label for="agente">Agente:</label>
        <select [(ngModel)]="agente" class="form-control" id="agente" (change)="loadchartdata()">
          <option value="">Todos</option>
          @for (agente of agentes; track agente.id){
          <option [value]="agente.id">{{agente.name}}</option>
          }
        </select>
      </div>
      <div class="form-grupo">
        <p class="m-0">Recomendaciones Predictivas:</p>
        <p class="m-0">{{global_recommendation}}</p>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="mb-2">
        <div class="d-flex flex-row-reverse mx-2">
          <div class="px-2">
            <p class="m-0">Total Incidentes:</p>
            <p class="m-0">{{total_incidentes}}</p>
          </div>
          <div class="px-2">
            <p class="m-0">Incidentes Resueltos:</p>
            <p class="m-0">{{incidentes_resueltos}}</p>
          </div>
          <div class="px-2">
            <p class="m-0">Total Usuarios:</p>
            <p class="m-0">{{total_usuarios}}</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row g-3 ">
          <div class="col-6 ">
            <div class="border rounded p-2 " style="height: 100%">
              <p>Agentes con más incidentes sin resolver</p>
              <ul>
                @for (agente of listaIncSinSolucion; track $index) {
                  <li>{{agente}}</li>
                }
              </ul>
            </div>
          </div>
          <div class="col-6">
            <div class="border rounded p-2" style="height: 100%">
              <p>Incidentes por canal</p>
              <div style="height:170px">
                <canvas baseChart id="chart_incidentes_por_canal"
                        [data]="dataIncXCanal"
                        [options]="opcIncXCanal"
                        type="pie" ></canvas>
              </div>
            </div>
          </div>
          <div class="col-6 ">
            <div class="border rounded p-2" style="height: 100%">
              <p>Incidentes Sin Resolver por Semana</p>
              <div style="height:200px">
                <canvas baseChart id="chart_incidentes_no_resueltos"
                        [data]="dataIncSinSolucion"
                        [options]="opcIncSinSolucion"
                        type="bar" ></canvas>
              </div>
            </div>
          </div>
          <div class="col-6 ">
            <div class="border rounded p-2" style="height: 100%">
              <p>Incidentes Resueltas por Semana</p>
              <div style="height:200px">
                <canvas baseChart id="chart_incidentes_resueltos"
                        [data]="dataIncConSolucion"
                        [options]="opcIncConSolucion"
                        type="bar" ></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
