<app-navbar></app-navbar>
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-10 offset-md-1"> <!-- Wider column, centered -->
      <h1>Detalle del incidente 000001</h1>
      <hr/>

      <p><strong>Fecha:</strong> 24/01/2024</p>
      <p><strong>Tipo:</strong> Peticion</p>
      <p><strong>Estado:</strong> En Proceso</p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>

      <div style="display: flex; justify-content: flex-start; margin-top: 20px;">
        <button mat-raised-button color="primary">Button 1</button>
        <button mat-raised-button class="custom-button" style="margin-left: 10px;" (click)="openSolutionsDialog()">Button 2</button>
      </div>
    </div>
  </div>
</div>
