<app-navbar></app-navbar>
<div class="container-fluid mt-5" *ngIf="incident">
  <div class="row">
    <div class="col-md-10 offset-md-1"> <!-- Wider column, centered -->
      <h1>Detalle del incidente {{ incident.id }}</h1>
      <hr/>

      <p><strong>Fecha:</strong> {{ incident.date | date: 'dd/MM/yyyy' }}</p>
      <p><strong>Tipo de problema:</strong> {{ incident.type }}</p>
      <p><strong>Estado:</strong> {{ incident.solved ? 'Resuelto' : 'Abierto' }}</p>

      <p>
        {{ incident.description }}
      </p>

      @if(!incident.solved) {
      <div style="display: flex; justify-content: flex-start; margin-top: 20px;">
        <button mat-raised-button color="primary" (click)="viewIncidentResponse()">Responder</button>
        <button mat-raised-button class="custom-button" style="margin-left: 10px;" (click)="openSolutionsDialog()" *ngIf="enableSolutionsButton">Generar respuesta con IA</button>
        <button mat-raised-button class="custom-button" style="margin-left: 10px;" (click)="assignIncident()" *ngIf="assignButtonEnabled">Asignar</button>
      </div>
      }@else {
        <p><strong>Respuesta:</strong>{{incident.response}}</p>
      }
    </div>
  </div>
</div>
