<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img i18n src="assets/logo-page/logo-abcall.png" alt="Logo de ABCall" width="60" height="40">
    </a>
    <a i18n class="navbar-brand">ABCall</a>

    <a class="navbar-brand logo-client">
      <img i18n src={{currentClient[0].pathLogo}} alt="Logo del cliente" width="74" height="40">
    </a>
    <a i18n class="navbar-brand">{{getNameCompany()}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngStyle]="styleGroupOptions" class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!-- Incidents Dropdown -->
        <li *ngIf="showIncidents" class="nav-item dropdown">
          <a i18n class="nav-link active dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Incidentes
          </a>
          <ul class="dropdown-menu">
            <li><a i18n class="dropdown-item" href="/incidents/create-incident">Registrar</a></li>
            <li><a i18n class="dropdown-item" href="/incidents/search-incident">Buscar</a></li>
          </ul>
        </li>

        <li *ngIf="showAnalytics" class="nav-item">
          <a i18n class="nav-link active" href="/analitica/reporte">Dashboard</a>
        </li>
        <li *ngIf="showAgents" class="nav-item">
          <a i18n class="nav-link active" href="/register-agent">Agentes</a>
        </li>
        <li *ngIf="showPlan" class="nav-item">
          <a i18n class="nav-link active" href="/clients/manage-plan">Mi plan</a>
        </li>

        <!-- Currency Dropdown -->
        <li *ngIf="showChangeMoney" class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{selectedMoney}}
          </a>
          <ul class="dropdown-menu menu-money">
            <li><a class="dropdown-item" (click)="changeMoney('$-COP')">$-COP</a></li>
            <li><a class="dropdown-item" (click)="changeMoney('USD')">USD</a></li>
            <li><a class="dropdown-item" (click)="changeMoney('€-EUR')">€-EUR</a></li>
          </ul>
        </li>

        <!-- Language Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img rel="preload" [src]="selectedLanguage === 'Español' ? 'assets/language/flag-spain.png' : 'assets/language/flag-england.png'"
                 alt="Selección de lenguaje"
                 width="30" height="20">
          </a>
          <ul class="dropdown-menu menu-language">
            <li><a class="dropdown-item" (click)="changeLanguage('Español')">Español</a></li>
            <li><a class="dropdown-item" (click)="changeLanguage('English')">English</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a i18n class="nav-link active" (click)="logout()">Cerrar sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
