<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card card-inicio-sesion">
        <div class="card-body">
          <div>
            <h3 class="title text-center">ABCall</h3>
          </div>
          <form>
            <div class="form-outline border campos">
              <i class="fa-solid fa-user"></i>
              <label class="form-label" for="txtCorreo">Correo</label>
              <input type="email" id="txtCorreo" class="form-control" required/>
            </div>
            <div class="form-outline border campos">
              <i class="fa-solid fa-key"></i>
              <label class="form-label" for="txtContrasena">Contraseña</label>
              <input type="password" id="txtContrasena" class="form-control" required/>
            </div>
            <div class="contrasena-olvidada">
              <a class="olvidaste-contrasena-text" href="#">¿Olvidaste tu contraseña?</a>
            </div>
            <div class="iniciar-sesion">
              <a href="/clients/manage-plan" class="btn btn-primary btn-iniciar-sesion">Iniciar Sesión</a>
            </div>
          </form>
            <div class="registrarse">
              <a href="/register" class="btn btn-primary btn-registrarse">Registrarse</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
