.campos {
  border-radius: 4px;
  width: 72%;
  margin-left: 14%;
  margin-top: 7%;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 28px;
  color: black;
  margin-top: 13%;
  padding-bottom: 5%;
}

.card-inicio-sesion {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 10%;
  border-color: #ffffff;
}

.card-body {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  background-color: #eaeaea;
  border-color: #ffffff;
}

button {
  border-radius: 100px;
  width: 180px;
  height: 40px;
  background-color: #3a506b;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 15px;
}

.iniciar-sesion {
  margin-left: 30%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.btn-iniciar-sesion {
  border-radius: 100px;
  width: 180px;
  height: 40px;
  background-color: #3a506b;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 15px;
}

.btn-iniciar-sesion:hover {
  background-color: #1c2451;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.olvidaste-contrasena-text {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: black;
  font-size: 14px;
  text-decoration: none;
}

.contrasena-olvidada {
  margin-left: 32%;
  margin-top: 4%;
}

.form-label {
  margin-left: 3%;
}
