.container {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 6%;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 3rem;
}

.incident-form {
  gap: 1rem;
}

.mat-form-field {
  width: 100%;
  background-color: #fff;
}

.mat-form-field .mat-input-element {
  padding: 10px; /* Add padding to inputs for a cleaner look */
}

.mat-form-field-outline .mat-form-field-outline-start,
.mat-form-field-outline .mat-form-field-outline-end {
  border-width: 1px;
  border-color: #bdbdbd; /* Lighter border color */
}

textarea[matInput] {
  resize: none; /* Prevent manual resizing of textarea */
}

button[mat-raised-button] {
  background-color: #3f51b5; /* Update color to match theme */
  color: #fff;
}

button[mat-icon-button] {
  padding: 0.5rem;
}

.timer {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}

.timer mat-card {
  background-color: #f2f2f2; /* Light background color */
  padding: 10px;
  color: #333;
  font-size: 14px;
  width: auto;
  box-shadow: none;
  margin-top: -4rem;
  margin-bottom: 2rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 80%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Search User Form Specific Button Row */
.search-button-row {
  display: flex;
  margin-top: 20px;
}


button {
  border-radius: 20px;
  color: white;
  background-color: #2A2D6D;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button {
  background-color: #3a506b !important;
  color: white !important;
}

button:hover {
  background-color: #1c2451 !important;
}

