<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div>
            <h3 class="title text-center">Bienvenido a ABCall</h3>
            <div class="text-center text-question">
              ¿Qué deseas hacer?
            </div>
            <div class="group-button">
              <div class="row justify-content-center">
                <a i18n href="/public/search-incident" class="btn btn-primary button-custom">Consultar Incidente</a>
              </div>
              <div class="row justify-content-center">
                <a i18n href="/login" class="btn btn-primary button-custom">Iniciar Sesión</a>
              </div>
              <div class="row justify-content-center last-button">
                <a i18n href="/register" class="btn btn-primary button-custom">Registrarme como cliente</a>
              </div>
            </div>
          </div>
        </div>
    </div>

  </div>
</div>
