<app-navbar></app-navbar>
<div class="pricing-container">
  <mat-card class="pricing-card">
    <mat-card-title>Emprendedor</mat-card-title>
    <mat-card-content>
      <ul>
        <li>Registro de incidentes reportados por clientes vía telefónica</li>
        <li>Automatización del proceso de escalamiento y asignación</li>
        <li>Monitoreo continuo de incidentes</li>
      </ul>
    </mat-card-content>
    <div class="card-footer">
      <h3>COP 99.000/mes</h3>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="changePlan('EMPRENDEDOR')">Suscribirse</button>
      </mat-card-actions>
    </div>
  </mat-card>

  <mat-card class="pricing-card">
    <mat-card-title>Empresario</mat-card-title>
    <mat-card-content>
      <p>Acceso a todo lo incluido en el plan emprendedor, más:</p>
      <ul>
        <li>Multicanalidad para las PQRs: correo electrónico, chatbot, app móvil y línea telefónica</li>
        <li>Tablero de control con información consolidada</li>
      </ul>
    </mat-card-content>
    <div class="card-footer">
      <h3>COP 149.000/mes</h3>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="changePlan('EMPRESARIO')">Suscribirse</button>
      </mat-card-actions>
    </div>
  </mat-card>

  <mat-card class="pricing-card">
    <mat-card-title>Empresario Plus</mat-card-title>
    <mat-card-content>
      <p>Acceso a todo lo incluido en el plan empresario, más:</p>
      <ul>
        <li>Servicios de registro de incidentes con soporte de analítica predictiva</li>
        <li>Uso de Inteligencia Artificial generativa para enviar soluciones a los clientes</li>
        <li>Tableros de analítica avanzada con indicadores predictivos</li>
      </ul>
    </mat-card-content>
    <div class="card-footer">
      <h3>COP 199.000/mes</h3>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="changePlan('EMPRESARIO_PLUS')">Suscribirse</button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
