<app-navbar></app-navbar>
<div class="content">
    <h2 class="center-text">
        Para acceder a esta funcionalidad necesitas estar inscrito al plan Emprendedor Plus. A continuación puedes ver más detalles:
    </h2>

    <mat-grid-list cols="3" rowHeight="1:1" gutterSize="16px" class="grid">
        <mat-grid-tile>
        <mat-card>
            <mat-card-title>Empresario</mat-card-title>
            <mat-card-content>
            <ul>
                <li>Registro de incidentes reportados por clientes vía telefónica</li>
                <li>Automatización del proceso de escalamiento y asignación</li>
                <li>Monitoreo continuo de incidentes</li>
            </ul>
            <h3>COP 99.000/mes</h3>
            </mat-card-content>
            <mat-card-actions>
            <button mat-raised-button color="primary">Suscribirse</button>
            </mat-card-actions>
        </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
        <mat-card>
            <mat-card-title>Emprendedor</mat-card-title>
            <mat-card-content>
            <ul>
                <li>Acceso a todo lo incluido en el plan empresario, más:</li>
                <li>Multicanalidad para las PQRs incluido correo electrónico, chatbot, app móvil y línea telefónica</li>
                <li>Tablero de control con información consolidada</li>
            </ul>
            <h3>COP 149.000/mes</h3>
            </mat-card-content>
            <mat-card-actions>
            <button mat-raised-button color="primary">Suscribirse</button>
            </mat-card-actions>
        </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
        <mat-card>
            <mat-card-title>Emprendedor Plus</mat-card-title>
            <mat-card-content>
            <ul>
                <li>Acceso a todo lo incluido en el plan emprendedor, más:</li>
                <li>Servicios de registro de incidentes con soporte de analítica predictiva</li>
                <li>Uso de Inteligencia Artificial generativa para enviar soluciones a los clientes</li>
                <li>Tableros de analítica avanzada con indicadores predictivos</li>
            </ul>
            <h3>COP 199.000/mes</h3>
            </mat-card-content>
            <mat-card-actions>
            <button mat-raised-button color="primary">Suscribirse</button>
            </mat-card-actions>
        </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
