<app-navbar></app-navbar>
<div class="container mt-4">
    <h2 class="header-title mb-4">Buscar incidente</h2>
    
    <!-- Formulario de búsqueda -->
    <form [formGroup]="searchForm">
      <div class="row mb-3 align-items-end">
        <div class="col-md-5">
          <label for="userId" class="form-label">ID Usuario:</label>
          <input type="text" class="form-control" id="userId" placeholder="Ingrese el ID del usuario" formControlName="userId">
          <div *ngIf="searchForm.get('userId')?.invalid && searchForm.get('userId')?.touched" class="text-danger">
            <small *ngIf="searchForm.get('userId')?.errors?.['required']">El ID de usuario es obligatorio.</small>
          </div>
        </div>
        <div class="col-md-5">
          <label for="incidentId" class="form-label">ID Incidente:</label>
          <input type="text" class="form-control" id="incidentId" placeholder="Ingrese el ID del incidente" formControlName="incidentId">
          <div *ngIf="searchForm.get('incidentId')?.invalid && searchForm.get('incidentId')?.touched" class="text-danger">
            <small *ngIf="searchForm.get('incidentId')?.errors?.['required']">El ID del incidente es obligatorio.</small>
          </div>
        </div>
        <div class="col-md-2 d-flex justify-content-end">
          <button type="button" class="btn btn-primary" (click)="searchIncident()">Buscar</button>
        </div>
      </div>
      <!-- Filtro de incidentes -->
      <div class="row mb-3 align-items-center">
        <div class="col-md-3">
          <label for="filter" class="form-label">Filtro:</label>
          <select class="form-select" id="filter" (change)="filterIncidents($event)">
            <option value="all">Todos</option>
            <option value="open">Abiertos</option>
            <option value="closed">Resueltos</option>
            <option value="assignedToMe">Asignados a mí</option>
            <option value="unassigned">Sin asignar</option>
          </select>
        </div>
      </div>
    </form>
  
    <div *ngFor="let incident of incidents" class="incident-card mb-3 p-3 rounded" (click)="viewIncidentDetail(incident.id)" style="cursor: pointer;">
        <h4>Incidente {{ incident.id }}: {{ incident.solved ? 'Resuelto' : 'Abierto' }}</h4>
        <p>{{ incident.description }}</p>
        <div class="incident-date">
          <mat-icon>event</mat-icon> {{ incident.date | date:'dd/MM/yyyy' }}
        </div>
    </div>
</div>
