.container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .header-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .incident-card {
    background-color: #e9ecef; /* Light gray background */
    color: #333;
  }
  
  .incident-date {
    display: flex;
    align-items: center;
    color: #666;
  }
  .incident-date mat-icon {
    font-size: 16px;
    margin-right: 5px;
  }
  